name: apk_install
description: "This is a toolkit for installing and updating APKs on the Android platform, used only for upgrading your own app."
version: 1.0.1
homepage: https://github.com/mengzhidaren/apk_install

environment:
  sdk: ^3.0.0
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:

  plugin:
    platforms:
      android:
        package: com.yyl.apk_install
        pluginClass: ApkInstallPlugin