name: apk_install
description: "apk install tools"
version: 1.0.0
homepage: https://github.com/mengzhidaren/apk_install

environment:
  sdk: ^3.0.0
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:

  plugin:
    platforms:
      android:
        package: com.yyl.apk_install
        pluginClass: ApkInstallPlugin